<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doctor" class="com.example.demo.Doctor">
        <property name="qualification" value = "MBBS"></property>
    </bean>

    <bean id = "engineer" class = "com.example.demo.Engineer">
        <property name="qualification" value = "BTECH"></property>
    </bean>

    <bean id = "student" class = "com.example.demo.Student">
        <property name="doc" ref = "doctor"></property>
        <property name="eng" ref = "engineer"></property>
    </bean>
    <bean id = "constructorInjection" class = "com.example.demo.Lawyer">
        <constructor-arg value = "LLB"></constructor-arg>
    </bean>
</beans>